
.title{
    
    text-align: center;
    color: rgb(153, 62, 172);
    font-size: 500%
}
.subtitle{
    /* position: relative;
    top: 100px; */
    text-align: center;
    color: rgb(153, 62, 172);
    font-size: 200%
}
.aboutRowOne{
    text-align: center;
}
body{
    background-image: url('../assets/Auraholix\ Website.jpg');
}